@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand&display=swap');
/*
font-family: 'Lexend', sans-serif;
font-family: 'Shrikhand', cursive;

colors:
dark blue: #15183B
dark pink: #D83D66
beige: #D8AC90
*/

body{
    font-family: 'Lexend', sans-serif;
}
h1 {
    font-size: 3.2vw;
    font-weight: 400;
    text-align: center;
    color: #15183B;
    margin-top: 80px;
    margin-bottom: 20px;
}
h1, h2, h3, h4, h5 {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
}

h2 {
    margin: 0px;
}
li{
    list-style: none;
}

/*-------------Header Component-------------*/

header {
    background-color: white;
    position: fixed;
    width: 100%;
}
nav {
    align-items: center;
    display: flex;
    padding: 10px 30px;
}
.nav--logo{
    flex-basis: 30%;
}
.nav--logo a {
    display: flex;
}
.nav--logo p {
    background: -webkit-linear-gradient(45deg, #15183B, #D83D66, #D8AC90);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Shrikhand', cursive;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
}
.nav--links {
    display: flex;
    flex-basis: 70%;
    justify-content: flex-end;
}
.nav--links p {
    color: #685044;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 15px;
    text-decoration: none;
}

a:link { text-decoration: none; }

.create-post--nav p{
    border-right: 2px solid #D0B7B7;
    color: #D83D66;
    font-weight: 800;
    margin-right: 15px;
    padding-right: 30px;
}

/*-------------Home Page-------------*/

.cover {
    height: 100vh;
    overflow: hidden;
}
.cover-top {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 12vw;
    margin-bottom: 3vw;
}
.cover-top h2, h3 {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
}
.cover-top h1 {
    color:  #15183B;
    font-size: 5vw;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.cover-top h2 {
    font-size: 3vw;
    font-weight: 1000;
    line-height: 1.1;
}
.cover-top h3 {
    color: #D83D66;
    font-size: 1.6vw;
    margin-top: 15px;
}

.cover--left {
    margin-right: 50px;
}

.cover-buttons {
    margin: 0 auto;
    padding: 0;
    width: 20%;
}
.create-post--home a, .explore--home {
    align-items: center;
    border-radius: 5px;
    display: flex;
    font-size: 1.1vw;
    height: 3vw;
    justify-content: center;
    margin: 15px;
}
.create-post--home a{
    background-color: #D8AC90;
    color: white;
    font-weight: 600;
}
.explore--home {
    border: 2px solid #D83D66;
    color: #D83D66;
}

*{
    scroll-behavior: smooth;
}

.PostsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: 5vw auto;
}

.PostComponent {
    display: flex;
    height: auto;
    justify-content: center;
    width: 36vw;
    margin: 3vw 0px;
}
.PostComponentWrapper p {
    font-size: 1.2vw !important;
    font-weight: 800 !important;
    margin: 1vw;
    text-align: center;
}
.PostComponent--image {
    height: 20vw;
    object-fit: cover;
    width: 36vw;
}
.fontsWrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 36vw;
}
.font1-image, .font2-image {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 2vw;
    max-height: 5vw;
    max-width: 26vw;
    object-fit: cover;
}
.font1-image {
    margin-top: 10px;
}
.font2-image  {
    margin: 10px;
    max-height: 1.5vw;
}
.colorsSamplesWrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.colorsSamplesWrapper p {
    font-weight: 400 !important;
}
.colorsSamples {
    align-items: center;
    color: white;
    display: flex;
    font-size: 1vw;
    height: 4vw;
    justify-content: center;
    line-height: 1;
    width: 12vw;
}

/*-------------Form Pages-------------*/

.Form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 6vw;
}
.Form p {
    font-size: 18px;
    font-weight: 300;
    margin: 0px;
    text-align: left;
}
.Form button {
    background-color: white;
    border: 2px solid #D83D66;
    border-radius: 5px;
    box-shadow: 5px 5px 0px #D83D66;
    color: #D83D66;
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
    font-size: 1.2vw;
    margin: 0 auto;
    margin-top: 40px;
    padding: 7px;
    transition: color 150ms ease-out;
    transition: border 200ms ease-out;
    transition: box-shadow 200ms ease-out;
    width: 10vw;
}
.Form button:hover {
    border: 2px solid #D8AC90;
    box-shadow: 5px 5px 0px #D8AC90;
    cursor: pointer;
    color: #D8AC90;
}

.Form a p {
    color: #D83D66;
    font-weight: 800;
    padding: 7px;
    margin: 0;
    transition: color 150ms ease-out;
}
.Form a p:hover {
    color: #D8AC90;
}

.authorization {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.FormElement{
    display: flex;
    flex-direction: column;
}
.FormElement label {
    font-size: 1.2vw;
    font-weight: 500;
    margin: 10px 0;
}
.FormElement textarea, input {
    font-family: 'Lexend', sans-serif;
    font-size: 1vw;
    font-weight: 350;
    height: 1.6vw;
    inline-size: 300px;
    overflow-wrap: break-word;
    hyphens: manual;
    resize: none;
    width: 100%;
}

.longTextInput {
    height: 4vw !important;
}

.PostFormElement h2 {
    font-size: 2.5vw !important;
    margin: 0;
    margin-top: 40px;
    padding: 0;
    text-align: center;
}



.Overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 6vw;
}

.Overview--text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 36vw;
}
.Overview--text h2, p {
    margin: 0;
    padding: 0;
}
.Overview--text h2 {
    color: #D8AC90;
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
}
.Overview h3 {
    color: #D83D66;
    font-family: 'Shrikhand', cursive;
    font-size: 2.5vw;
    margin-top: 3vw;
}
.Overview--text p:first-of-type {
    margin-bottom: 30px;
}