@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand&display=swap');
/*
font-family: 'Lexend', sans-serif;
font-family: 'Shrikhand', cursive;

colors:
dark blue: #15183B
dark pink: #D83D66
beige: #D8AC90
*/

body{
    font-family: 'Lexend', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
}
li{
    list-style: none;
}
.PageWrapper{
    margin: 0 100px;
}

/*-------------Header Component-------------*/

header {
    width: 100%;
}
nav {
    align-items: center;
    display: flex;
    padding: 10px 30px;
}
.nav--logo{
    flex-basis: 30%;
}
.nav--logo a {
    display: flex;
}
.nav--logo p {
    background: -webkit-linear-gradient(45deg, #15183B, #D83D66, #D8AC90);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Shrikhand', cursive;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
}
.nav--links {
    display: flex;
    flex-basis: 70%;
    justify-content: flex-end;
}
.nav--links p {
    color: #685044;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 15px;
    text-decoration: none;
}

a:link { text-decoration: none; }

.create-post--nav p{
    border-right: 2px solid #D0B7B7;
    color: #D83D66;
    font-weight: 800;
    margin-right: 15px;
    padding-right: 30px;
}

/*-------------Home Page-------------*/

.cover {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 50px;
}
.cover h2, h3 {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
}
.cover h1 {
    color:  #15183B;
    font-size: 5vw;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.cover h2 {
    font-size: 3vw;
    font-weight: 1000;
    line-height: 1.1;
}
.cover h3 {
    color: #D83D66;
    font-size: 1.6vw;
    margin-top: 15px;
}

.cover--left {
    margin-right: 50px;
}

*{
    scroll-behavior: smooth;
}

.PostComponentWrapper {
    background-color: pink;
    height: 17vw;
    width: 25vw;
}
.PostComponentWrapper img {
    border-radius: 10px;
    height: 15vw;
    object-fit: cover;
    width: 25vw;
}

/*-------------Login and Create User Page-------------*/

.UserAuth {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}
.UserAuth h1 {
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    color: #15183B;
    text-shadow:
    3px 3px 0 #D8AC90;
}
.UserAuth p {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
.UserAuth a p {
    border: 2px solid #D83D66;
    border-radius: 5px;
    color: #D83D66;
    box-shadow: 5px 5px 0px #D83D66;
    width: 130px;
    margin: 0 auto;
    padding: 7px;
}

.FormElement{
    display: flex;
    flex-direction: column;
}