@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand&display=swap');
/*
font-family: 'Lexend', sans-serif;
font-family: 'Shrikhand', cursive;
*/

body{
    font-family: 'Lexend', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Shrikhand', cursive;
}
li{
    list-style: none;
}

header {
    background-color: white;
    width: 100%;
}
nav {
    align-items: center;
    display: flex;
    padding: 10px 30px;
}
.nav--logo{
    flex-basis: 30%;
}
.nav--logo a {
    display: flex;
    flex-direction: row;
}
.nav--logo p {
    color: #20A4F3;
    font-family: 'Shrikhand', cursive;
    font-size: 32px;
    font-weight: 400;
    margin: 0 3px;
}
.nav--links {
    display: flex;
    flex-basis: 70%;
    justify-content: flex-end;
}
.nav--links p {
    color: #685044;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 15px;
    text-decoration: none;
}

a:link { text-decoration: none; }

.create-post--nav p{
    border-right: 2px solid #D0B7B7;
    color: #20A4F3;
    font-weight: 800;
    margin-right: 15px;
    padding-right: 30px;
}


/*-------------Login and Create User Page-------------*/

.UserAuth {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}
.UserAuth h1 {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}
.UserAuth p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.UserAuth a p {
    background-color: #D0B7B7;
    color: white;
    width: 160px;
    margin: 0 auto;
    padding: 10px;
}

.FormElement{
    display: flex;
    flex-direction: column;
}